[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
apscheduler = "*"
Django = "*"
dramatiq = "*"
arrow = "*"
twilio = "*"
schedule = "*"
pandas = "*"
psycopg2-binary ="*"

[packages]
apscheduler = "*"
arrow = "*"
twilio = "*"
schedule = "*"
pandas = "*"
requests = "*"
auth0-python = "*"
rauth = "*"
[requires]
python_version = "3.7"
